/* Commits.module.css */

.commitsContainer {
    margin: 20px;
  }
  
  .commit {
    border: 1px solid #ddd;
    padding: 16px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
  }
  
  .commitMessage {
    font-weight: bold;
  }
  
  .commitDetails {
    display: flex;
    flex-direction: column;
  }
  
  .commitDetails strong {
    font-weight: bold;
    margin-bottom: 4px;
  }
  
  .commitSha {
    align-self: flex-end;
    font-size: 0.8em;
    color: #777;
  }
  
.link {
  text-decoration: none; 
  color: #007bff; 
  font-weight: bold; 
  transition: color 0.3s;
}

.link:hover {
  color: #0056b3; 
}

.lblFilter{
  font-weight: bold;
  color: #007bff;
  
}